<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>prestatab13</name>
	<displayName><![CDATA[prestatab13]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[tab numero 13 de pagina prestashop]]></description>
	<author><![CDATA[basc]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
